.biographie {
  position: relative;
  width: 100%;
  height: 100vh;
  padding-bottom: 23rem;

  h1 {
    text-align: center;
    color: #84378d;
  }

  &__container-left {
    width: 100%;
    min-height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__container-right {
    width: 100%;
    min-height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__arrow-container {
    width: 100%;
    margin-top: 22rem;
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      position: absolute;
      width: 40px;
      height: 40px;
      margin-top: 22rem;
      cursor: pointer;
      transition: all 0.3s ease-in-out;
      &:hover {
        border-radius: 50%;
        padding: 5px;
        background-color: #8dc7fa;
      }
    }
  }

  &__cta-button-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -1.2rem;
    z-index: 99;
  }
}

.containers {
  display: flex;
  justify-content: center;
  align-items: center;
}

// >> PARALLAX EFFECT
.parallax {
  background-image: url("/images/portrait/IMG-20221124-WA0025.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  backdrop-filter: blur(5px);
  background-attachment: fixed;
}

// >> BUTTON
.original-button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -0.02rem;
  line-height: 1;
  text-decoration: none;
  color: #84378d;
  font-size: 18px;
  border-radius: 0px;
  width: 200px;
  height: 40px;
  position: relative;
  transition: 0.3s;
  background-color: #ffffff;
  cursor: none;
}

.original-button::before,
.original-button::after {
  content: "";
  display: block;
  position: absolute;
  border: 1px solid #84378d;
  width: 100%;
  height: 100%;
  transition: 0.3s;
}

.original-button::before {
  top: -2px;
  left: -2px;
}

.original-button::after {
  top: 2px;
  left: 2px;
}

.original-button:hover::before,
.original-button:hover::after {
  top: 0;
  left: 0;
}

.original-button2 {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1.2rem;
  line-height: 1;
  text-decoration: none;
  color: #84378d;
  font-size: 18px;
  border-radius: 0px;
  width: 200px;
  height: 40px;
  position: relative;
  transition: 0.3s;
  background-color: #ffffff;
  cursor: none;
}

.original-button2::before,
.original-button2::after {
  content: "";
  display: block;
  position: absolute;
  border: 1px solid #84378d;
  width: 100%;
  height: 100%;
  transition: 0.3s;
}

.original-button2::before {
  top: -2px;
  left: -2px;
}

.original-button2::after {
  top: 2px;
  left: 2px;
}

.original-button2:hover::before,
.original-button2:hover::after {
  top: 0;
  left: 0;
}

@media (max-width: 1900px) {
  .biographie {
    padding-bottom: 43rem;
  }
}
@media (max-width: 800px) {
  .biographie {
    padding-bottom: 64rem;
  }
}
@media (max-width: 730px) {
  .biographie {
    padding-bottom: 85rem;
  }
}

@media (max-width: 1050px) {
  .containers {
    flex-direction: column;
    gap: 2rem;
    padding-bottom: 1rem;
  }

  .biographie__cta-button-container {
    bottom: 0;
    left: 50%;
    margin-top: 1rem;
  }
}
