.evjf {
  width: 100%;
  background-image: url("/images/bar/IMG-20221124-WA0010.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;

  h1 {
    padding: 4rem 0 5rem 0;
    text-align: center;
    color: aliceblue;
    z-index: 3;
  }

  p {
    color: aliceblue;
    font-size: 1.2rem;
  }

  span {
    font-weight: bold;
  }

  &__text-container {
    width: 100%;
    display: flex;

    @media (max-width: 768px) {
      flex-direction: column;
    }

    &__presentation {
      width: 66%;
      text-align: justify;
      margin: 0 0 2rem 1rem;
      padding: 1rem;
      background: transparent;
      backdrop-filter: blur(5px);
      -webkit-backdrop-filter: blur(20px);
      border-radius: 10px;
      border: 1px solid rgba(255, 255, 255, 0.18);

      @media (max-width: 768px) {
        width: 80%;
      }

      &__txtBloc1 {
        margin-top: -0.5rem;
      }

      &__txtBloc2 {
        text-align: center;
        margin-top: -1rem;
      }

      p {
        font-size: 1rem;
        line-height: 1.5rem;
      }

      li {
        color: aliceblue;
        line-height: 2rem;
        cursor: text;
      }
      u {
        margin-right: 10px;
      }
    }
  }

  &__button-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__form-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;

    h3 {
      margin-top: 2rem;
      font-size: 2rem;
      color: aliceblue;
    }

    p {
      font-size: 1rem;
      letter-spacing: 1px;
      text-align: center;
      @media (max-width: 768px) {
        font-size: 0.8rem;
      }
    }

    form {
      width: 40rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 1rem;

      @media (max-width: 768px) {
        width: 80%;
      }

      label {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: 1.2rem;
        color: aliceblue;

        @media (max-width: 768px) {
          font-size: 1rem;
        }
      }

      input,
      textarea {
        margin-left: 1rem;
        outline: none;
        border-radius: 0.5rem;
        border: 0;
        font-size: 1.1rem;
        padding: 1rem;
        font-family: "Quicksand", sans-serif;
        @media (max-width: 768px) {
          font-size: 0.8rem;
          padding: 1rem;
        }
      }

      input {
        width: 50%;
      }

      textarea {
        width: 50%;
      }
    }
  }
}

#opacity-effet {
  min-width: 100%;
  background-color: rgba(0, 0, 0, 0.671);
  z-index: 2;
}

// -- Animate the size, outside --
.pulse:hover,
.pulse:focus {
  animation: pulse 1s;
  box-shadow: 0 0 0 2rem transparent;
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 var(--hover);
  }
}

$colors: (
  pulse: #b89657,
);

button {
  background: transparent;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(20px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  font: inherit;
  font-size: 1.5rem;
  margin: 5rem;
  padding: 1rem 2rem;
  color: aliceblue;
  letter-spacing: 1px;
  animation: colorAnime 5s ease-in-out infinite alternate;
  &:hover {
    color: #dd9dfa;
  }
  @media (max-width: 768px) {
    font-size: 1.1rem;
  }
}

.highlight {
  padding: 1px 5px 3px 5px;
  margin: 0 3px 0 5px;
  border-radius: 10px;
  background-color: #9c27b0;
}

.clicked {
  border: 2px solid #9c27b0 !important;
}

.toast-message {
  width: 550px !important;
  height: 50px !important;
}
