.methode {
  position: absolute;
  min-width: 100%;
  margin: 4rem 0 0 2rem;
  
  &__text-container {
    position: absolute;
    width: 100%;
    margin: 0 0 0 3rem;

    &__contact {
      width: 539px;
      height: 7rem;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    
    &__text {
      width: 550px;
      background: rgba( 255, 255, 255, 0.4 );
      box-shadow: 0 8px 32px 0 rgba(62, 31, 135, 0.37);
      backdrop-filter: blur( 0px );
      -webkit-backdrop-filter: blur( 0px );
      border-radius: 10px;
      border: 1px solid rgba( 255, 255, 255, 0.18 );
      padding: 1rem;

      p {
        margin: 0;
        font-size: 1rem;
        font-weight: 500;
        text-align: justify;
        line-height: 30px;
        text-justify: inter-word;
        list-style: none;
        cursor: text;
      }

    }
  }
}